# Dart
dart/.dart_tool/
dart/.packages
dart/pubspec.lock

# Kotlin
kotlin/.gradle/
kotlin/build/
kotlin/gradle-8.5-bin.zip
kotlin/gradle-temp/

# Output files
output_*.xlsx

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db
*.claude